.quip a { text-decoration: none; }
.quip a:hover { text-decoration: underline; }

.quip-comment {
    border-color: #ccc;
    border-width: 1px 0 0;
    border-style: solid;
    padding: 7px;
}
.quip-comment-alt {
    background-color: #f2f2f2;
}
.quip-unapproved, .quip-unapproved a {
    color: #a4a4a4;
}
.quip-comment-rightstuff {
    float: right;
    text-align: right;
}
.quip-comment-createdon {
    font-style: italic;
    color: #777;
}
.quip-comment-author { color: #888; font-weight: bold; }
.quip-comment-author strong { color: #333; }

.quip-add-comment p {
    color: #888;
    margin-bottom: .2em;
}
span.quip-allowed-tags {
    font-weight: normal;
    font-size: 11px;
    font-style: none;
    float: right;
    }
.quip-add-comment .textarea {
    width:auto;
}
.quip-add-comment textarea {
    width: 100%;
    padding:0;
}
.quip-add-comment input[type=text] {
    width: 50%;
    float: left;
    border: 1px solid #888;
    padding: 5px;
    }
.quip-add-comment label {
    width: 20%;
    float: left;
    }
.quip-fld br { clear: both; }

.quip-comment input[type=submit] {
    float: right;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
}
.quip-comment-options {
    text-align: right;
}
.quip-comment-report {
    color: #888;
    font-size: 10px;
}

.quip-reply-link {
    font-size: 11px;
}

.quip-error { color: red; }
.quip-success {
    color: green;
}