.quip a { text-decoration: none; }
.quip a:hover { text-decoration: underline; }

.quip-comment form, .quip-comment p { padding: 0; margin: 0;}
div.quip-comment {
    padding: 4px;
}
li.quip-comment {
    background: transparent;
    list-style: none;
    padding: 0;
    margin: 0;
}
ol.quip-comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol.quip-comment-list li ol {
    margin-bottom: 0;
    padding-left: 20px;
}
ol.quip-comment-list li {
    list-style-type: none;
    position: relative;
    margin-left: 0;
}
ol.quip-children {
    margin: 0;
}

.quip-comment-alt {
    background-color: #f2f2f2;
}
.quip-comment-body {
    padding: 5px 7px;
}
.quip-comment-text p {
    padding-top: 1em;
}
.quip-unapproved, .quip-unapproved a {
    color: #a4a4a4;
}
.quip-comment-createdon {
    font-style: italic;
    font-size: small;
}
.quip-comment-createdon a { color: #777; }
.quip-comment-author, .quip-comment-author a { color: #444; font-weight: bold; }
.quip-comment-author strong { color: #333; }

.quip-reply-link {
    font-size: 11px;
    float: left;
}
.quip-break { clear: left; }

.quip-error {
    color: red;
    font-size: .9em;
}
.quip-success {
    color: green;
}
.quip-clear {
    clear: both;
}

.quip-comment-right {
    float: right;
}
.quip-comment-options {
    clear: right;
    margin-top: 2px;
    text-align: right;
    font-size: 11px;
}
.quip-comment-options a {
    color: #777;
}
.quip-avatar {
    float: right;
    padding: 3px;
    margin: 2px;
    border: 1px solid #ccc;
}

/* add comment */
.quip-add-comment p {
    color: #888;
    margin-bottom: .2em;
}
span.quip-allowed-tags {
    font-weight: normal;
    font-size: 11px;
    font-style: normal;
    float: right;
    }
.quip-add-comment .textarea {
    width:auto;
}
.quip-add-comment textarea {
    width: 100%;
    padding:0;
}
.quip-add-comment input[type=text] {
    width: 50%;
    float: left;
    border: 1px solid #888;
    padding: 5px;
    }
.quip-add-comment label {
    width: 20%;
    float: left;
    }
.quip-fld br { clear: both; }

div.quip-comment input[type=submit] {
    cursor: pointer;
}
.quip-preview {
    border-bottom: 1px solid #d4d4d4;
    padding: 7px 7px;
    background-color: #f2f2f2;
}